
/* This is legacy file  */

.main-section {
  display: flex;
  height: 100vh;
  background-color: #111;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
  position: relative;
}

.main-left {
  flex: 1;
  overflow: hidden;
}

.main-photo {
  width: 90%;
  height: 90%;
  object-fit: cover;
}

.main-right {
  flex: 1;
  text-align: left;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main-introline1-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: -20px;
  display: inline-block;
  animation: slideUp 2s ease forwards;
}

.main-introline2-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: -10px;
  border-bottom: 2px solid #fff;
  display: inline-block;
  padding-bottom: 5px;
  animation: slideUp 2s ease forwards;
}

.main-vision-title {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: -5px;
  border-bottom: 2px solid #fff;
  display: inline-block;
  padding-bottom: 5px;
  animation: slideUp 2s ease forwards;
}

.main-intro-text {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 50px;
  max-width: 700px;
  color: #ccc;
  animation: slideUp 2s ease forwards;
}

.main-vision-text {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 70px;
  max-width: 700px;
  color: #ccc;
  animation: slideUp 2s ease forwards;
}

.certifications {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  animation: slideUp 1.4s ease forwards;
}

.cert-badge {
  width: 120px;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); */
}
.cert-badge:hover {
  transform: translateY(-10px) scale(1.15);
  /* box-shadow: 0 12px 20px rgba(255, 255, 255, 0.3); */
}

.animate-slide {
  opacity: 0;
  animation: slideUp 1s ease forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.contact-icons {
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: flex;
  gap: 10px;
}

.contact-icons a {
  color: #ccc;
  font-size: 30px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.contact-icons a:hover {
  transform: scale(1.5);
  color: #fff;
}

/* Nav styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #111;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  flex-wrap: wrap;
  box-sizing: border-box;

}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.nav-links li a {
  text-decoration: none;
  color: #ccc;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #fff;
}

.nav-links li a.active {
  color: #fff;
  border-bottom: 3px solid #ff6b00; /* Customize this color */
  padding-bottom: 4px;
}