
/* Nav Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #111;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  flex-wrap: wrap;
  box-sizing: border-box;
}
/* Nav Styles Logo*/
.logo {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}
/* Nav Styles Link Names*/
.nav-links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  font-size: 18px;
}
/* Nav Styles Links*/
.nav-links li a {
  text-decoration: none;
  color: #ccc;
  font-weight: 500;
  transition: color 0.3s ease;
}
/* Nav Styles Hover*/
.nav-links li a:hover {
  color: #fff;
}
/* Nav Styles Active Links*/
.nav-links li a.active {
  color: #fff;
  border-bottom: 3px solid #ff6b00; /* Customize this color */
  padding-bottom: 4px;
  font-weight: bold;
}

/* Badge Styles*/
.cert-badge {
  width: 130px;
  height: auto;
  margin: 20px 15px;  /* added padding between (15px) and around the badges (20px - This stopped the badges being cropped in the animation issue)*/
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Badge Styles on Hover*/
.cert-badge:hover {
  transform: translateY(-10px) scale(1.15);
}

/* Contact Styles*/
.contact-icons {
  display: flex;
  justify-content: flex-end;   
  align-items:end;
  gap: 15px;
  height: 100%;   /* ensure full height of Grid item */
}
/* Contact Styles on Hover*/
.contact-icons a {
  color: #ccc;
  font-size: 35px;
  transition: transform 0.3s ease, color 0.3s ease;
}
/* Contact Styles on Hover*/
.contact-icons a:hover {
  transform: scale(1.4);
  color: #fff;
}



/* Animation of Grids*/
@keyframes slideUp {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* Animation of Grids*/
.animate-slide {
  opacity: 0;
  animation: slideUp 2s ease forwards;
}

/* Animation of Grids*/
.animate-slide2 {
  opacity: 0;
  animation: slideUp 3s ease forwards;
  animation-delay: 0.5s;
}