/* 4volunteering.css */
.volunteering-section {
  padding: 60px 20px;
  background-color: #121212dd;
  color: white;
  /* min-height: 80%; */
  overflow-x: hidden;
  min-height: 50vh;
}

@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.volunteering-section h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 80px;
  position: relative;
  animation: fadeSlideUp 1s ease-out;
}

.volunteering-section h2::after {
  content: '';
  width: 60px;
  height: 3px;
  background: white;
  display: block;
  margin: 10px auto 0;
}

.volunteering-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
}

.volunteering-card {
  background: #121212;
  ;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
  width: 480px;
  opacity: 0;
  transform: translateY(40px);
  transition: transform 0.4s ease, opacity 0.4s ease, box-shadow 0.4s ease;
}

/* Slide up animation */
.volunteering-card.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Hover effect */
.volunteering-card.visible:hover {
  transform: translateY(-12px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.5);
  background-color: #121212;
}

.volunteering-card h3 {
  margin-top: 0;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 15px;
}

.volunteering-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 12px;
  justify-content: center;
}

.volunteering-tags span {
  background-color: #f76903;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 0.75rem;
}

.volunteering-card ul {
  list-style: disc;
  padding-left: 18px;
  margin: 0;
  text-align: left;
  font-size: 0.85rem;
  line-height: 1.6;
}

.title{
  color: #d35e0b;;
}